@import "tailwindcss";

@layer reset, base, components;



@font-face {
  font-family: 'inter';
  src: url('/infotavle/public/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

html{
  font-family: 'inter', sans-serif;
}
