@import "tailwindcss";

#root {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: 15% 1fr;
  height: 100vh;
  color: white;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.date-time {
  background-color: #67d0f8;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem 5rem 2rem 9rem;
  display: flex;
  gap: 50%;
  align-items: center;
  text-align: center;
}
.weather {
  grid-row: span 2;
  font-size: 1.5rem;
}

.weather__list{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  position: relative;
  padding-top: 2rem;
  z-index: 1;
  background-color: #00aeef;
  height: 100vh;
}

.animated__background {
  position: absolute;
  top: 30%;
   z-index: 2;
   right: 02%;
   opacity: 0.2;
}

.weather__list li {
  z-index: 3;
}

.weather__day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__container {
  background-color: #7dc242;
  margin: 5rem 5rem 5rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  overflow: auto;
  border-radius: 30px;
}



.slide__pauser{
  display: flex;
  align-items: center;
  gap: 2rem;
  
}

.pause__time{
  font-size: 1.5rem;
}

.mappy {
  width: 25rem;
  height: 25rem;
}

.info__slide {
  font-display: flex;
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
  overflow: auto;
  width: 80%;
}

.slide__title {
  margin-bottom: 1rem;
}

.slide__description {
  font-size: 1.5rem;
}

.slide__descript {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.info__container,
.info__slider {
  box-sizing: border-box;
}
