@import "tailwindcss";

#root {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: 15% 1fr;
  height: 100vh;
  color: white;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.date-time {
  background-color: #67d0f8;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem 5rem 2rem 9rem;
  display: flex;
  gap: 18em;Velkommen til Roskilde Tekniske Skole

Vi vil gerne byde dig hjerteligt
  align-items: center;
  text-align: center;
}
.weather {
  background-color: #00aeef;
  grid-row: span 2;
  font-size: 1.5rem;
}

.weather__list {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 90%;
  position: relative;
  padding-top: 2em;
}

.animated__background {
  position: absolute;
}

.weather__list li {
  z-index: 2;
}

.weather__day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__container {
  background-color: #7dc242;
  margin: 5rem 5rem 5rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35rem;
  overflow: auto;
  border-radius: 30px;
}

.mappy {
  width: 30rem;
  height: 30rem;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 0;
}

.info__slide {
  font-display: flex;
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
  overflow: auto;
  width: 60%;
}

.slide__title {
  margin-bottom: 1rem;
}

.slide__description {
  font-size: 1.5rem;
}

.slide__descript.mt-4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  gap: 2rem;
}

.info__container,
.info__slide {
  box-sizing: border-box;
}

